body {
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FFDDD2;
    font-family: "Times New Roman", Times, serif;
}

.character-container {
    background-color: #EDF6F9;

    padding: 40px;
    border-radius: 20px;

    width: 400px;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

h1 {
    color: #006D77;
    text-align: center;
}

label {
    color: #006D77;
    font-weight: bold;
}

input,
select {
    padding: 10px;
    border: 2px solid #83C5BE;
    border-radius: 8px;
}

#startGameBtn {
    margin-top: 15px;

    padding: 12px;

    background-color: #83C5BE;
    color: #006D77;

    border: none;
    border-radius: 8px;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}

#startGameBtn:hover {
    background-color: #E29578;
    color: white;
}